<div class="container my-5">
  <h1 class="mb-3">Edit Password </h1>

  <form #form="ngForm" (ngSubmit)="updatePasswordUser()">
    <div class="row">
      <div class="col-8">
        <div class="mb-3">
          <label for="id" class="form-label">Id</label>
          <input type="text" class="form-control bg-light" id="id" readonly name="id" [(ngModel)]="passwordDetails.id">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="mb-3">
          <label for="login" class="form-label">Login</label>
          <input type="text" class="form-control" id="login" disabled readonly
           name="login" [(ngModel)]="passwordDetails.login">
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" [(ngModel)]="passwordDetails.password">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>

  </form>
</div>