<div class="container my-5">
    <h1 class="mb-3">Users</h1>
    <table class="table table-striped table-hover" *ngIf="users.length > 0">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Login</th>
          <th scope="col">Password</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.name}}</td>
          <td>{{user.login}}</td>
          <th><a class="btn btn-outline-success" [routerLink]="['/user', 'password', user.id]">Modify Password</a></th>
          <th>
            <a class="btn btn-primary" [routerLink]="['/user', 'edit', user.id]">Edit User</a>
            <!-- <button type="button" class="btn btn-danger" (click)="deleteUser(user.id)">Delete</button> -->
          </th>
        </tr>
      </tbody>
    </table>
    <p *ngIf="users.length == 0">No users found!</p>
  </div>
